dask==0.15.1
debtcollector==1.12.0
decorator==4.1.1
networkx==1.11
numpy==1.12.0
olefile==0.44
pandas==0.19.2
pbr==3.1.1
Pillow==4.2.1
python-dateutil==2.6.1
pytz==2017.2
scikit-image==0.12.3
scipy==0.19.0
six==1.10.0
toolz==0.8.2
wrapt==1.10.10
matplotlib==2.0.2
